mixin footer
  footer.bg-primary.overflow-auto.mt-auto.bg-gradient
    .container.my-3.justify-content-center
      p.mb-0 © Website design Justin Muirhead 2022 under the BSD-3-Clause License
  script(src="../js/main.js", type="module")
